.social-svg {
  padding: 1em 2em;
  width: 100px;
  height: 100px;
  fill: rgb(250 204 94);
  transition: 0.2s;
  min-width: 60px;
}
.social-svg:hover {
  cursor: pointer;
  fill: white;
}
@media (max-width:500px) {
  .social-svg {
    padding: 0.45em 0.95em;
  }
}
.tuck-away { /*hide inline svgs at the bottom of the page */
  content-visibility: hidden;
}